/* Adding body style and bacground image */
body,html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url("Assets\Images\Background.png");
    height: 100%;

    /* Adding game box style */
.game-box{
    background: #eeeeee;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0.,0,0,0.23);

    /* Answers style */
.answer-item{
    background: rgb(223, 201, 7);
    width: 90%;
    display: inline-block;
    border-radius:8px;
    padding: 3px;

    /* Start button style */
#btn-start{
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#7716c7;
    font:bold 40px;
	color:rgb(253, 175, 86);
}

#code-title{
    text-align: center;
    font-weight: bold;
}