/* Adding body style and bacground image */
body,html{
    font-family: 'New Tegomin', serif;
    text-align: center;
    height: 100%;
    color: rgb(0, 0, 0);
}

    /* Adding game box style */
.game-box{
    background: #eeeeee;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0.,0,0,0.23);
}
    /* Answers style */
.answer-item{
    background: rgb(223, 201, 7);
    width: 90%;
    display: inline-block;
    border-radius:8px;
    padding: 3px;
}
    /* Start button style */
#btn-start{
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#223fdf;
    font:bold 40px;
	color:rgb(255, 255, 255);
}

#code-title{
    text-align: center;
    font-weight: bold;
}